.div-screen {
    background-image: url('../img/Онбординг.svg');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.div-screen1 {
    background-image: url('../img/window1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.window1 {
    background-image: url('../img/Logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30vh;
    height: 30vh;
}

.div-screen2 {
    background-image: url('../img/window2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div-screen3 {
    background-image: url('../img/window2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div-screen4 {
    background-image: url('../img/window2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div-screen5 {
    background-image: url('../img/map.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.div-screen6 {
    background-image: url('../img/iPhone\ 14\ -\ 11.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 116vh;
}

.window2 {
    background-image: url('../img/chel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    width: 30vh;
    height: 30vh;
}

.window3 {
    background-image: url('../img/level.svg');
    background-repeat: no-repeat;
    z-index: 1;
    width: 12vh;
    height: 5vh;
    margin-left: 25px;
    margin-top: 2vh;
}

.window4 {
    background-image: url('../img/profile.svg');
    background-repeat: no-repeat;
    z-index: 1;
    width: 50vh;
    height: 96vh;
    margin-left: 85px;
    margin-top: 2vh;
}

.window5 {
    background-image: url('../img/places.svg');
    background-repeat: no-repeat;
    z-index: 1;
    width: 50vh;
    height: 96vh;
    margin-left: 167px;
    margin-top: 2vh;
}

.window6 {
    background-image: url('../img/recomend.svg');
    background-repeat: no-repeat;
    z-index: 1;
    width: 50vh;
    height: 96vh;
    margin-left: 95px;
    margin-top: -25vh;
}

.icon1 {
    top: 11vh;
    right: 1vh;
    position: fixed;
}

.icon2 {
    top: 11vh;
    right: 7vh;
    position: fixed;
}

.icon3 {
    top: 72vh;
    right: 21vh;
    position: fixed;
}

.icon4 {
    top: 64vh;
    right: 22vh;
    position: fixed;
}

.white {
    background-image: url('../img/WhiteBack.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 36vh;
    height: 49vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white2 {
    background-image: url('../img/white2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    height: 48vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 113px;
}

.white3 {
    background-image: url('../img/white2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 42vh;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 48px;
    left: -2px;
    border-radius: 30px;
}

.white4 {
    background-image: url('../img/white2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -79px;
    left: -2px;
    border-radius: 30px;
}

.white5 {
    background-image: url('../img/profile-img.svg');
    background-repeat: no-repeat;
    width: 40vh;
    height: 34vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 83px;
}

.white6 {
        background-image: url('../img/WhiteBack.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 45vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        right: 2.5vh;    
}

.div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.div-container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38vh;
} 

.search {
    width: 40vh;
    border-radius: 95px;
    background-color: #ffffff00;
    margin-top: -61vh;
}