.text {
    color: #0077FF;
}

.text1 {
    color: #0077FF;
}

.text2 {
    color: #FFFFFF;
}

.text3 {
    color: #FFFFFF;
}

.text4 {
    color: black;
    font-size: 15px;
}

.text5 {
    color: black;
    font-size: 21px;
    font-weight: 600;
}

.text6 {
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
}


.button {
    text-align: center;
    font-size: 30px;
    height: 6vh;
    width: 40vw;
    display: block !important;
    font-weight: 600 !important;
}

.button1 {
    text-align: center;
    font-size: 30px;
    height: 6vh;
    width: 40vw;
    display: block !important;
    color: #0077FF !important;
    font-weight: 600 !important;
    
}

.button2 {
    text-align: center;
    font-size: 30px;
    height: 6vh;
    width: 40vw;
    display: block !important;
    color: #0077FF !important;
    font-weight: 600 !important;
    top: -4vw;
}

.button3 {
    text-align: center;
    height: 6vh;
    width: 78vw;
    display: block !important;
    color: #0077FF !important;
    top: -33vw;
    margin: 4px;
}

.checkBox {
    margin: 5px;
    width: 70vw;
    background-color: #82A5FE;
    border-radius: 13px;
}

.checkBox1 {
    margin: 5px;
    width: 70vw;
    background-color: #ffffff;
    border-radius: 13px;
}

.tabbar {
    border-radius: 17px;
}